.sampletable-wrapper{
    overflow-x: scroll;
}

.sampletable-wrapper::-webkit-scrollbar {
    display: none;
}

.sampletable{
    border-spacing: 0;
    width: 100%;
    height: 100%;
}

.sampletable-th{
    font-weight: 600;
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #eaeaea;
}

.sampletable-td {
    padding: 0.75rem;
    border-bottom: 1px solid #eaeaea;
}

.sampletable-tr:hover {
    background-color: #fafafa;
}

.table-tittle{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;   
}